table {
    width: 100%;
  }
  
  .mat-column-select {
    overflow: initial;
  }

  tr.table-element-row:hover {
    background-color: #f5f5f5;
  }

  tr.table-element-row:active {
    background-color: #efefef;
  }