<mat-toolbar>
  <mat-toolbar-row>
    <span>{{title}}</span>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <span class="paddingLT">
      <mat-form-field>
        <input type="search" matInput placeholder="Search" (keyup)="onSearch($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </span>
    <span class="paddingL">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
      
        <button mat-menu-item *ngFor="let i of tableToolbarCommands" [disabled]="i.isDisabled" (click)="onCommand(i.action)">
          <mat-icon>{{i.matIcon}}</mat-icon>
          <span>{{i.name}}</span>
        </button>
       
      </mat-menu>
    </span>

  </mat-toolbar-row>
</mat-toolbar>